body {
    color: rgb(226, 10, 10);
    background: rgb(16, 223, 195);
    margin: 0px;
}

header{
    border-bottom: solid 2px rgb(97, 20, 240);
    padding: 20px;
    font-size:32px;
    color: rgb(207, 154, 40)
}
section {
    background: rgb(216, 8, 147);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}